ion-content{//background image for app
    --background:url(../../../assets/600x1024-Background-HD-Wallpaper-482-300x512.jpg) center center / cover;
}

.btn-center-align{
    text-align: center!important;
}

.btn-center-align ion-button{
    color: blue;
}

.btn-center-align ion-button:hover{
    color: black;
}